.project {
  font-family: "bahnschrift", Georgia;

  h3 {
  font-size: 19px;
  font-weight: bold;
  margin: 15px 0 5px 0;
  }

  h4 {
    color: rgb(139, 139, 139);
    font-size: 14px;
    margin: 0 0 25px 0;
  }

  .project__block {
    display: flex;
    margin: 100px 0 150px 0;
  }

  .project__block--left {
    margin-left: 150px;
  }

  .project__block--right {
    margin: 0 200px 0 100px;
  }

  img {
    width: 500px;
    height: 300px;
    margin: 15px 0 0 0;
  }

  .button--right {
    border: solid;
    border-width: 1.2px;
    width: 150px;
    height: 25px;
    text-align: center;
    margin: 20px 0 0 418px;
  }


p {
  line-height: 35px;
  letter-spacing: 1.2px;
  font-size: 16px;
  text-align: justify;
}

.button {
  border: solid;
  border-width: 1.6px;
  width: 150px;
  height: 40px;
  line-height: 2.3;
  text-align: center;
  margin: 50px 0 0 418px;
  border-radius: 7px;
  /* for the animation */
  transition-duration: 0.05s;
  transition-delay: 0.1s;
  transition: all 0.2s ease-in-out;
  }

  .button:hover {
    color: white;
    background-color: black;
  }

  .triangle {
    width: 100%;
    height: 100%;
    margin: 0 0 -2px 0;
  }
}

@media screen and (max-width: 1000px) {
  .project__block {
    flex-wrap: wrap;
     margin: 0;
     justify-content: center;
     justify-items: center;
     text-align: center;
  }

  .project__block--left, .project__block--right {
    margin: 0 15px 0 15px;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto 
}

p {
  margin: 0 auto;;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.button {
  margin: 0 auto;;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
}