@import  './reset.scss';
@import './main.scss';
@import './header.scss';

@font-face {
  font-family: "Buttercup Sample";
  src: url('fonts/buttercup_sample.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bahnschrift";
  src: url('fonts/bahnschrift.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
